# Suvodeep Das
Section-B

Roll- 90

## IMPORTING PANDAS

In [22]:
import pandas as pd
from google.colab import drive

## EXTRACTING DATA FROM CSV FILE

In [23]:
drive.mount('/content/drive')
filename = '/content/drive/My Drive/datasets/auto-mpg.csv'
df = pd.read_csv(filename)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,87,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

## PRINTING ROWS AND COLUMNS

In [24]:
df.shape

(398, 9)

In [25]:
len(df)

398

## DATA TYPE OF FILENAME

In [26]:
type(filename)

str

## SEEING THE NULL VALUES

In [27]:
df.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [28]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

## OUTLIERS REMOVAL

In [29]:
def remove_outlier(ds,col):
 quart1 = ds[col].quantile(0.25)
 quart3= ds[col].quantile(0.75)
 IQR = quart3 - quart1 #Inter quartile range
 low_val = quart1 - 1.5*IQR
 high_val = quart3 + 1.5*IQR
 ds = ds.loc[(ds[col] > low_val) & (ds[col] < high_val)]
 return ds
data = remove_outlier(df, "mpg")
nrowcount = data.shape[0]
print(nrowcount)

397